Gradient Descent is known as one of the most commonly used optimization algorithms to train machine learning models by means of minimizing errors between actual and expected results. Further, gradient descent is also used to train Neural Networks.

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
df=pd.read_csv("/content/car driving risk analysis.csv")
df.head()

         x        y
0  2000.12  3001.23
1  9000.12  2003.21
2  3004.10  4000.20
3  1100.00  2000.00
4  2400.00  3000.00

In [ ]:
# df.rename(columns = {'speed':'x', 'risk':'y',
#                               }, inplace = True)
# df.head()

In [19]:
df.shape

(15, 2)

In [20]:
x=df['x']
y=df['y']

In [21]:
x

0     2000.12
1     9000.12
2     3004.10
3     1100.00
4     2400.00
5     1150.12
6     5012.20
7     2300.00
8     1900.00
9     2600.00
10    2900.00
11    1850.00
12    3100.00
13    5000.00
14    3012.00
Name: x, dtype: float64

In [22]:
y

0     3001.23
1     2003.21
2     4000.20
3     2000.00
4     3000.00
5     1021.12
6     1223.21
7     3000.00
8     4500.00
9     3000.00
10    3123.00
11    2500.00
12    4000.00
13    6000.00
14    4000.00
Name: y, dtype: float64

Gradient Descent in Machine Learning

In [23]:
#1st step
m=0
c=0
learning_rate=0.01

n=int(len(x))
iteraration=1000

#2nd step
for i in range(iteraration):
  y_prediction=m * x +c
  derivation_m=(-2/n) * sum(x*(y-y_prediction))
  derivation_c=(-2/n) * sum(y-y_prediction)

#3rd step
m=m-(learning_rate * derivation_m )
c=c-(learning_rate * derivation_c) 
# print(m,c)
print("M is :",m)
print("c is :",c)

M is : 192178.71339893335
c is : 61.82929333333334

prediction

In [24]:
x=float(input("Enter the value:"))
y = 256.8466666666667 *x +1.1159999999999999

Enter the value:2000.12

In [25]:
y

513725.2709333333